@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.timepicker.min.js"></script>
<link href="~/Content/glDatePicker.default.css" rel="stylesheet" />
<script src="~/Scripts/glDatePicker.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<div id="main-banner-place">
    <div class="container">
        <div class="col-md-5 searchRideBox">
            <div class="card">
                <div class="card-body tagbackgd">

                    <h5 class="card-title">Search your next ride</h5>
                    <div class="formbackgd">
                        <label class="">PickUp</label>
                        <div class="form-row">
                            <div class="col-6">
                                <input type="text" class="datepicker form-control" placeholder="Date" id="dp1582537298115">
                                
                            </div>
                            <div class="col-6">
                                <input type="text"  class="form-control basicExample" placeholder="Time">
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <label class="">Drop</label>
                        <div class="form-row">
                            <div class="col-6">
                                <input type="text" class="datepicker form-control" placeholder="Date" id="dp1582537298116">
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control basicExample" placeholder="Time">
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="btn btn-primary col-md-12">Submit</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {        
         $('datepicker').glDatePicker();
        $('.basicExample').timepicker();
    });
    $('.datepicker').datepicker({
    startDate: '-3d'
});
</script>